/* Write your CSS here */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto';
  margin: 20px;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px;
  padding: 20px;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 20px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  font-weight: 700;
}
